*{
    margin: 0;
    padding: 0;
}

li.nav-item.pr-3 {
    text-align: center;
}

body {
    font-family: 'Alegreya', serif;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.menutren.fixed-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 1s;
    height: 100px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.menutren.fixed-top.abc {
    padding: 0px;
    height: 55px;
    background: #616161!important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.menutren.fixed-top {
    background-color: #61616138!important;
}

.point {
    cursor: pointer;
}

.nut:hover a{
    color: white;
    font-weight: bold;
    border: none!important;
}

._1noidung:hover .tren {
    background-color: #FE6B1D!important;
    transition: 0.5s;
}

._1noidung:hover {
    transform: scale(1.18);
    transition: 0.5s;
}

.point .fas:hover {
    color: #C84600;
}

.hero-header .text.text-center.m-auto {
    padding-top: 50vh;
    color: white;
}

.menucon ul li {
    list-style-type: none;
}

.hero-header {
    background-image: url(../img/header-bg.jpg);
    height: 120vh;
    background-size: cover;
}

.hero-header h3 {
    font-size: 40px;
}

.hero-header h1 {
    font-size: 70px;
}

._7 .effect img {
    position: relative;
    overflow: hidden;
}

.backround-opacity:hover {
    opacity: 1;
}

.backround-opacity {
    background-color: #0000008a;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    height: 100%;
    width: 100%;
}

.menusapxep ul li {
    cursor: pointer;
}

.effect2 img{
    position: relative;
}

.ok {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
}

.ok:hover {
    opacity: 1;
}

.contact a{
    color: white;
    font-size: 14px;
}

.contact a:hover {
    color: #C84600;
    text-decoration: none;
}

.list2 li {
    cursor: pointer;
    font-size: 13px;
    padding-bottom: 10px;
}

.list2 li:hover {
    color: #C84600;
}

.contentLeft a {
    color: white;
}

.contentLeft a:hover {
    color: #C84600;
    text-decoration: none;
}

.contentRight {
    color: white;
    cursor: pointer;
}

.contentRight span:hover  {
    color: #C84600;
}

.nutlentren {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s;
    z-index: 9999;
}


.nutlentren.hienra {
    opacity: 1;
}

div#googleMap {
    margin-left: -15px;
}

.btn {
    transition: 0.5s!important;
}

.btn:hover {
    background: #FF5800!important;
}

.tieude {
    border-bottom: 3px solid #C84600;
    padding-bottom: 10px;
}

@media only screen and (max-width: 640px){
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.menutren.fixed-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  
    .ttheader{
        font-size: 18px;
        line-height: 20px;
    }
    .ttheader h3 {
        margin-top: -50px!important;
    }
    .ttheader h1 {
        font-size: 40px;
    }
    .respon {
        background-color: #3f3f3f;
        margin-top: -25px;
        width: 100vh;
    }
    a.nav-link{
        border-bottom: 1px solid white;
    }
    a.nav-link.active {
        color: white!important;
        font-weight: 600;
    }

    a.nav-link
    .contentLeft {
        width: 100%;
    }
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.menutren.fixed-top {
        background-color: gray!important;
        height: 70px;
        display: flex;
        flex-direction: row-reverse;
    }
    a.navbar-brand {
        margin-top: -17px;
        display: block;
    }
    
    button.navbar-toggler{
        margin-top: -35px;
        margin-right: 70px;
        background: wheat;
    }
    div#googleMap {
        margin-left: 3px!important;
    }
}
@media only screen and (max-width: 992px){
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.menutren.fixed-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  
    .ttheader{
        font-size: 18px;
        line-height: 20px;
    }
    .ttheader h3 {
        margin-top: -50px!important;
    }
    .ttheader h1 {
        font-size: 40px;
    }
    .respon {
        background-color: #3f3f3f;
        margin-top: -25px;
        width: 100vh;
    }
    a.nav-link{
        border-bottom: 1px solid white;
    }
    a.nav-link.active {
        color: white!important;
        font-weight: 600;
    }

    a.nav-link
    .contentLeft {
        width: 100%;
    }
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.menutren.fixed-top {
        background-color: gray!important;
        height: 70px;
        display: flex;
        flex-direction: row-reverse;
    }
    a.navbar-brand {
        margin-top: -17px;
        display: block;
    }
    
    button.navbar-toggler{
        margin-top: -35px;
        background: wheat;
        float: left!important;
    }
    div#googleMap {
        margin-left: 3px!important;
    }
}

