* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.menu ul li a {
    transition: 0.7s;
}

.menu ul li a.chuDen {
    color: black !important;
}

.menu .logo img.nhoLai {
    width: 125px;
}

.menu .logo img {
    transition: 0.7s;
}

.bg-lightaaa {
    border-bottom: 1px solid black;
    background: #efefef!important;
}

.menu ul li:hover a {
    text-decoration: none;
    color: #c8d6e5 !important;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #ffffff36;
    transition: 0.7s;
}

.menu ul li {
    display: inline-block;
    padding-top: 35px;
    padding-right: 20px;
}

._1 .logo img {
    padding-bottom: 10px;
    padding-top: 10px;
}

.btn {
    background: #10ac84;
    color: white;
    border-radius: 8%;
}

.btn:hover {
    background: #1dd1a1 !important;
    color: wheat !important;
}

._6 {
    background-image: url(../img/bg-testimonial.jpg);
    background-size: cover;
    height: 80vh;
}

.xyz {
    border: 1px solid black;
    transition: 0.3s;
}

.xyz:hover {
    border-bottom: 6px solid #10ac84;
}

.bonnus.bg-light {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card.text-center {
    margin: auto;
    width: 100% !important;
}

.nutlentren {
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
}

.nutlentren.backToTop {
    opacity: 1;
    visibility: visible;
}

.nutlienlac {
    position: fixed;
    bottom: 0;
    left: 0;
}

.nutlienlac i.fas.fa-phone-volume.pr-1{
    animation: myMove 1s infinite;
}

@keyframes myMove {
    from {transform: scale(1);}
    to {transform: scale(1.3);}
}

@media only screen and (max-width: 600px) {
    .nutmenu {
        display: flex;
        justify-content: space-between;
        background: #1dd1a1;
        color: white;
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
    }

    .search {
        display: none;
    }

    i.fas.fa-bars.d-none {
        display: block !important;
    }

    i.fas.fa-search.d-none {
        display: block !important;
    }

    .ndmenu {
        background: #10ac84;
        z-index: 9999;
        transform: translateX(-999px);
        height: 0vh;
        transition: 0.5s;
        opacity: 0;
    }

    .ndmenu.rightMove {
        transform: translateX(0px);
        opacity: 1;
        height: 100vh;
    }

    .menu ul li a {
        color: white !important;
        line-height: 80px;
    }

    .menu ul li:nth-child(1) {
        padding-top: 70px;
    }

    .menu {
        display: block;
    }

    .logo {
        margin-top: 10vh;
        text-align: center;
    }

    .menu .logo {
        display: none;
    }

    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption h2 {
        font-size: 18px;
    }

    .carousel-caption h3 {
        font-size: 16px;
    }

    .abcd {
        padding-left: 100px;
    }
    .breadcrumb {
        margin-top: 70px!important;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .nutmenu {
        display: flex;
        justify-content: space-between;
        background: #1dd1a1;
        color: white;
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
    }

    .search {
        display: none;
    }

    i.fas.fa-bars.d-none {
        display: block !important;
        font-size: 30px;
    }

    i.fas.fa-search.d-none {
        display: block !important;
        font-size: 30px;
    }

    .ndmenu {
        background: #10ac84;
        z-index: 9999;
        transform: translateX(-999px);
        height: 0vh;
        transition: 0.5s;
        opacity: 0;
    }

    .ndmenu.rightMove {
        transform: translateX(0px);
        opacity: 1;
        height: 100vh;
    }

    .menu ul li a {
        color: white !important;
        line-height: 80px;
    }

    .menu ul li:nth-child(1) {
        padding-top: 70px;
    }

    .menu {
        display: block;
    }

    .logo {
        margin-top: 10vh;
        text-align: center;
    }

    .menu .logo {
        display: none;
    }

    .carousel-caption h1 {
        font-size: 24px;
    }

    .carousel-caption h2 {
        font-size: 22px;
    }

    .carousel-caption h3 {
        font-size: 20px;
    }

    .abcd {
        padding-left: 100px;
    }
    .breadcrumb {
        margin-top: 100px!important;
    }
}